.top {
  --offset: 50px;

  position: sticky;
  bottom: 20px;
  margin-right: 10px;
  place-self: end;
  margin-top: calc(100vh + var(--offset));

  /* visual styling */
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #fff;
  background: #000;
  border-radius: 100px;
  white-space: nowrap;
  flo
}

/* remove the below if you don't want smooth scrolling */
html,
body {
  scroll-behavior: smooth;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}


.loader_wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .navbar-brand .logo {
  width: 70%;
}

.small-text {
  padding: 0px;
}

.navbar>.container,
.navbar>.container-fluid {
  justify-content: space-between;
}

i.color-mode-icon.mobile_icon {
  display: none;
}

.social-links li {
  padding-top: 10px;
}

ul.navbar-nav.mx-auto {
  margin-right: 0px !important;
}

ul.navbar-nav.ml-lg-auto {
  margin-left: 50px !important;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

section.profile_view {
  text-align: center;
}

.progress_bar {
  margin-bottom: 26px;
}

.progress_bar h4 {
  font-size: 21px;
  color: #000000;
}

.progress_bar .progress {
  width: 100%;
  background: rgba(8, 102, 220, .2);
  overflow: hidden;
  border-radius: 5px;
}

.progress_value {
  height: 1.66em;
  float: left;
  background: #3c3dcc;
}

.progress_bar .green {
  background: #1abc9c;
}

.progress_bar .dark-green {
  background: #008b8b;
}

.progress_bar .orange {
  background: #e67e22;
}

.progress_bar .pink {
  background: #ed687c;
}

.value-00 {
  width: 0;
}

.value-10 {
  width: 10%;
}

.value-20 {
  width: 20%;
}

.value-30 {
  width: 30%;
}

.value-40 {
  width: 40%;
}

.value-50 {
  width: 50%;
}

.value-60 {
  width: 60%;
}

.value-70 {
  width: 70%;
}

.value-80 {
  width: 80%;
}

.value-90 {
  width: 90%;
}

.value-100 {
  width: 100%;
}

/*----------keyframes---------*/

@-webkit-keyframes slideIn {
  0% {
    width: 0;
  }

  25% {
    width: 100%;
  }

  100% {
    width: 75%;
  }
}

@-moz-keyframes slideIn {
  0% {
    width: 0;
  }

  25% {
    width: 100%;
  }

  100% {
    width: 65%;
  }
}

@-ms-keyframes slideIn {
  0% {
    width: 0;
  }

  25% {
    width: 100%;
  }

  100% {
    width: 55%;
  }
}

@-o-keyframes slideIn {
  0% {
    width: 0;
  }

  25% {
    width: 100%;
  }

  100% {
    width: 45%;
  }
}

@keyframes slideIn {
  0% {
    width: 0;
  }

  25% {
    width: 100%;
  }

  100% {
    width: 35%;
  }
}

.progress_value {
  animation: slideIn 2s;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

/* body {
  display: grid;
  grid-template-columns: auto 0px;
} */


@media only screen and (max-width: 768px) {
  i.color-mode-icon.mobile_icon {
    display: block;
  }

  .container .navbar-brand .logo {
    width: 50% !important;
  }

  .mobile_mode {
    margin-top: -100px;
  }

  .project_cards {
    display: block !important;
  }

  .project_cards .card {
    width: auto !important;
    margin-top: 20px;
  }



  .ml-lg-4 {
    /* margin-top: -100px; */
    margin-left: 100px;
    /* margin-bottom: 20px;
        margin-left: 7px; */
  }

  i.color-mode-icon.desktop {
    display: none;
  }

  .dark-mode .navbar-light .navbar-nav .nav-link {
    color: #5b5b5b !important;
  }

  .navbar-collapse {
    text-align: left !important;
  }

  /* .navbar-light .navbar-toggler{
      margin-top: -100px;
    } */

  span.navbar-toggler-icon.one {
    width: 50%;
  }

  span.navbar-toggler-icon.two {
    width: 70%;
  }

  .about-image.svg {
    overflow: hidden !important;
  }

  .social-links li {
    padding-top: 10px;
  }

  section#contact {
    /* width: 420px; */
    margin: auto;
  }

  h2.mb-4 {
    text-align: center;
  }

  .about-image dotlottie-player {
    width: 80% !important;
    margin: auto;
  }

}


.project_cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0px 30px;
}

.category {
  display: none;
  position: absolute;
  top: 48%;
  left: 35%;
  transform: translate(-50%, -50%);
  background: rgba(60, 101, 119, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.project_cards .card {
  width: 25rem;
}

.card:hover .category {
  display: block;
}

section.service {
  margin-bottom: 70px;
}

.service_title {
  text-align: center;
}

section.skill {
  margin: 50px 0px;
}

.skill img {
  width: 50px;
  background-color: #3b3f41;
  border-radius: 10px;
  padding: 10px;
}

.skill .col {
  flex-grow: unset !important;
  margin-top: 10px;
}

.contact-info.d-flex.justify-content-between.align-items-center.py-4.px-lg-5 {
  display: flex;
  flex-direction: column;
}

ul.social-links {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  margin: 30px 0px;
}

.tech-stack {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.tech-stack-items {
  font-size: 15px;
}

.job-company-education {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Style for particles */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure particles are behind other content */
}

.overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}