.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }


  .loader_wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container .navbar-brand .logo{
    width: 70%;
}

.small-text{
    padding: 0px;
}

.navbar > .container, .navbar > .container-fluid{
    justify-content: space-between;
}

i.color-mode-icon.mobile_icon{
    display: none;
}

.social-links li {
  padding-top: 10px;
}

ul.navbar-nav.mx-auto{
  margin-right: 0px !important;
}

ul.navbar-nav.ml-lg-auto{
  margin-left: 50px !important;
}

@media only screen and (max-width: 768px) {
    i.color-mode-icon.mobile_icon{
        display: block;
    }

    .container .navbar-brand .logo{
      width: 50% !important;
    }

    .mobile_mode {
        margin-top: -100px;
    }



    .ml-lg-4 {
      /* margin-top: -100px; */
      margin-left: 100px;
        /* margin-bottom: 20px;
        margin-left: 7px; */
    }

    i.color-mode-icon.desktop {
        display: none;
    }

    .dark-mode .navbar-light .navbar-nav .nav-link{
        color: #5b5b5b !important;
    }

    .navbar-collapse{
        text-align: left !important;
    }

    /* .navbar-light .navbar-toggler{
      margin-top: -100px;
    } */

    span.navbar-toggler-icon.one {
      width: 50%;
  }

  span.navbar-toggler-icon.two {
    width: 70%;
}

.about-image.svg {
  overflow: hidden !important;
}

.social-links li {
  padding-top: 10px;
}

section#contact {
  width: 420px;
  margin: auto;
}

h2.mb-4 {
  text-align: center;
}

.about-image dotlottie-player {
  width: 80% !important;
  margin: auto;
}
    
}