.container .navbar-brand .logo{
    width: 70%;
}

.small-text{
    padding: 0px;
}

.navbar > .container, .navbar > .container-fluid{
    justify-content: space-between;
}

i.color-mode-icon.mobile_icon{
    display: none;
}

@media only screen and (max-width: 768px) {
    i.color-mode-icon.mobile_icon{
        display: block;
    }

    .mobile_mode {
        margin-top: -100px;
    }

    .navbar > .container, .navbar > .container-fluid{
        justify-content: end;
    }

    .ml-lg-4 {
        margin-bottom: 20px;
        margin-left: 7px;
    }

    i.color-mode-icon.desktop {
        display: none;
    }

    .dark-mode .navbar-light .navbar-nav .nav-link{
        color: #5b5b5b !important;
    }

    .navbar-collapse{
        text-align: left !important;
    }
    
}