:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(240, 10%, 3.9%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(240, 10%, 3.9%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(240, 10%, 3.9%);
  --primary: hsl(240, 5.9%, 10%);
  --primary-foreground: hsl(0, 0%, 98%);
  --secondary: hsl(240, 4.8%, 95.9%);
  --secondary-foreground: hsl(240, 5.9%, 10%);
  --muted: hsl(240, 4.8%, 95.9%);
  --muted-foreground: hsl(240, 3.8%, 45%);
  --accent: hsl(240, 4.8%, 95.9%);
  --accent-foreground: hsl(240, 5.9%, 10%);
  --destructive: hsl(0, 72%, 51%);
  --destructive-foreground: hsl(0, 0%, 98%);
  --border: hsl(240, 5.9%, 90%);
  --input: hsl(240, 5.9%, 90%);
  --ring: hsl(240, 5.9%, 10%);
  --radius: 0.5rem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

.card {
  width: 100%;
  max-width: 400px;
  background-color: transparent;
  color: var(--card-foreground);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  aspect-ratio: 400 / 240;
}

.card-body {
  padding: 1.5rem;
}

.card-body h3 {
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
}

.card-body p {
  font-size: 0.875rem;
  /* color: var(--muted-foreground); */
}

.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  border: 1px solid var(--input);
  background-color: var(--background);
  color: var(--foreground);
  border-radius: var(--radius);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--accent);
  color: var(--accent-foreground);
  gap: 0.75rem;
}

.button svg {
  width: 16px;
  height: 16px;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--ring);
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.tech-item {
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 4px 12px;
  font-size: 0.75rem;
  color: #666;
}

.dark-mode button.button {
  background: #474559;
}
